/* GALERIA GALERIA GALERIA GALERIA GALERIA GALERIA  */

.galeriaTitulo{
    font-size: 48px;
    font-weight: bold;
    color: #0f0f0f;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    background-color: #d8d8d8;
    padding: 20px 0px 40px 0px;
    margin-top: 20px;
}

.galeria{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    gap: 10px;
}

.galeria img {
    width: 300px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 5px #333;
    object-fit: cover;
    transition: transform 0.3s ease-out;
    margin: 5px;
}

.galeria img:hover{
    transform: scale(1.1);
}
